@inherits LayoutComponentBase

<div class="empty-layout-container">
    @Body
</div>

<style>
    .empty-layout-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Full viewport height */
        background-color: var(--color-background); /* Consistent background */
        padding: var(--spacing-m);
    }
</style>